<body>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Login</h3>
          </div>
          <div class="card-body">
            <form class="form" #registerForm="ngForm">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" [(ngModel)]="loginUserData.UserName" name="UserName" class="form-control"
                  id="username" required >
                <div *ngIf="registerForm.controls['UserName'].invalid && (registerForm.controls['UserName'].dirty || registerForm.controls['UserName'].touched)"
                  class="text-danger">
                  <div *ngIf="registerForm.controls['UserName'].errors?.required">
                    Username is required.
                  </div>                
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" [(ngModel)]="loginUserData.Password" name="Password" class="form-control"
                  id="password" required >
                <div *ngIf="registerForm.controls['Password'].invalid && (registerForm.controls['Password'].dirty || registerForm.controls['Password'].touched)"
                  class="text-danger">
                  <div *ngIf="registerForm.controls['Password'].errors?.required">
                    Password is required.
                  </div>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button type="button" (click)="loginUser()" [disabled]="registerForm.invalid"
                  class="btn btn-primary btn-lg">Login</button>
              </div>
              <div *ngIf="showErrorMessage" class="alert alert-danger mt-3" role="alert">
                Invalid username or password. Please check your login credentials and try again.
                <button type="button" class="btn-close" (click)="dismissError()" aria-label="Close" data-bs-dismiss="alert">X</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
